<div class="downloadPatternDialog largemodal">
    <div class="mdialog">
        <div class="mcontent">
            <div class="navigationBar">
                <div class="navigationButtons">
                    <button class="backButton hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
                </div>
                <div class="navigationRemaining">
                    <h4 class="titletext flexone">Download Patterns</h4>
                </div>
                <button type="button" class="mobileHide hideButton btn btn-default navbar-btn" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="mbody">
                <div class="left serverPatterns"></div>
                <div class="right">
                    <span class="patternTitle"></span>
                    <div class="patternPreview"></div>
                    <div class="buttons">
                        <button type="button" class="downloadPattern hideButton btn btn-info navbar-btn">Download Pattern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
