<div class="editPatternDialog largemodal">
    <div class="mdialog">
        <div class="mcontent">
            <div class="navigationBar">
                <button type="button" style='float: left;' class="openConsole btn btn-default navbar-btn">Console</button>
                <div class="navigationButtons">
                    <button class="backButton hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
                </div>
                <div class="navigationRemaining">
                    <h4 class="titletext flexone"></h4>
                </div>
                <button type="button" class="hideButton btn btn-default navbar-btn">Discard</button>&nbsp;
                <button type="button" class="saveButton btn btn-primary navbar-btn">Save</button>
            </div>
            <div class="mbody">
                <div class="patternPreview"></div>
                <div class="patternControls">
                    FPS: <input type="number" class="fps" />
                    Frames: <input type="number" class="frames" />
                    Pixels: <input type="number" class="pixels" />
                </div>
                <div class="editorcontainer"></div>
            </div>
        </div>
    </div>
</div>
