<div class="editPatternDialog modal largemodal">
    <div class="mdialog">
        <div class="mcontent">
            <div class="navigationBar">
                <button type="button" style='float: left;' class="openConsole btn btn-default navbar-btn">Console</button>
                <div class="navigationButtons">
                    <button class="backButton hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
                </div>
                <div class="navigationRemaining">
                    <h4 class="titletext flexone"></h4>
                </div>
                <button type="button" class="btn btn-success previewPatternButton navbar-btn">Preview Lightwork</button>
                <button type="button" class="hideButton btn btn-danger navbar-btn">Discard</button>&nbsp;
                <button type="button" class="saveButton btn btn-primary navbar-btn">Save</button>
            </div>
            <div class="mbody">
                <div class="patternPreview"></div>
                <div class="patternControls">
                    <div class="controls"></div>
                    <div class="right metricsPanel">
                        <label>FPS: <input type="number" class="fps" /></label>
                        <label>Frames: <input type="number" class="frames" /></label>
                        <label>Pixels: <input type="number" class="pixels" /></label>
                        <button type="button" class="saveImage btn btn-default btn-xs" title="Save Lightwork as image" ><span class="glyphicon glyphicon-save"></span></button>&nbsp;
                        <button type="button" class="loadImage btn btn-default btn-xs" title="Load Lightwork from image" ><span class="glyphicon glyphicon-folder-open"></span></button>&nbsp;
                    </div>
                </div>
                <div class="editorcontainer"></div>
            </div>
        </div>
    </div>
</div>
