<div class="mobilePanel noTouchEvents editPatternDialog">
	<div class="navigationBar">
		<div class="navigationButtons">
			<button class="backButton hideButton btn btn-default navbar-btn">Discard</button>
		</div>
		<div class="navigationRemaining">
			<h4 class="titletext flexone"></h4>
		</div>
	</div>
    <div class="body bodyWithPreview bodyNoPadding">
        <div class="nextToPreview">
			<div class="patternControls flexFixed">
				<div class="controls"></div>
				<div class="right metricsPanel">
					<label>FPS: <input type="number" class="fps" /></label>
					<label>Frames: <input type="number" class="frames" /></label>
					<label>Pixels: <input type="number" class="pixels" /></label>
					<button type="button" class="saveImage btn btn-default btn-xs" title="Save Lightwork as image" ><span class="glyphicon glyphicon-save"></span></button>&nbsp;
					<button type="button" class="loadImage btn btn-default btn-xs" title="Load Lightwork from image" ><span class="glyphicon glyphicon-folder-open"></span></button>&nbsp;
				</div>
			</div>
			<div class="editorcontainer flexExpand"></div>

			<div class="buttons flexFixed">
				<button type="button" class="btn btn-success previewPatternButton navbar-btn">Preview</button>
				<button type="button" class="saveButton btn btn-primary navbar-btn">Save</button>
			</div>
        </div>

        <div class="patternPreview">
        </div>
    </div>
</div>

