<div class="navigationBar stripHeader">
    <div class="navigationButtons">
        <button class="backButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
    </div>
    <div class="navigationRemaining">
        <span class="statusIndicator"></span>
        <span class="name" /> &nbsp;
    </div>
    <!-- <button class="disconnectStripButton btn btn-danger navbar-btn"><span class="glyphicon glyphicon-remove"></span></button> -->
</div>

<div class="groupDetailsPanel body">
    <div class="brightnessControl"></div>
    <div class="progress">
        <div class="spaceAvailableIndicator progress-bar"></div>
    </div>
    <div class="nextToBrightnessBar">
        <div class="storedPatterns">
            <span class="heading">Stored Patterns</span>
            <div class="patterns"></div>
        </div>

        <button class="loadPattern btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Load New Pattern</button>
    </div>
</div>
