<div class="navigationBar stripHeader">
    <div class="navigationButtons">
        <button class="backButton btn btn-default btn-transparent navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
    </div>
    <div class="navigationRemaining">
        <span class="statusIndicator"></span>
        <span class="name" /> &nbsp;
        <span class="stripInfoButton glyphicon glyphicon-info-sign"></span>
    </div>
</div>

<div class="groupDetailsPanel body">
    <div class="paneldisabled">Select a strip</div>
    <div class="brightnessControl"></div>
    <!--
    <div class="progress">
        <div class="spaceAvailableIndicator progress-bar"></div>
    </div>
    -->
    <div class="nextToBrightnessBar">
        <div class="multiselect">
            <button class="createGroupFromSelected btn btn-success floatRight">Create Group</button>
        </div>
        <div class="groupselect">
            <button class="groupNextPattern btn btn-success floatRight">Next Lightwork</button>
        </div>
        <div class="singleStripSelected">
            <button class="updateFirmware btn btn-primary btn-sm">Firmware Update Available</button>
        </div>
        <div class="storedPatterns">
            <span class="heading">Lightworks</span>
            <div class="patterns"></div>
        </div>

        <button class="loadPattern btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Upload Lightworks</button>
        <div class="block rounded disconnectBlock">
            <div>
                This strip is disconnected.<br/><br/>
                <button class="loadPattern btn btn-primary">Lightwork Editor</button>
            </div>
        </div>
    </div>
</div>

