<div class="navigationBar stripHeader">
    <div class="navigationButtons">
        <button class="backButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
    </div>
    <div class="navigationRemaining">
        <span class="statusIndicator"></span>
        <span class="name" /> &nbsp;
    </div>
</div>

<div class="groupDetailsPanel body">
    <div class="paneldisabled">Select a strip</div>
    <div class="brightnessControl"></div>
    <div class="multiselect">
        multiple strips selected, create group
        <button class="createGroupFromSelected btn btn-success">Create Group</button>
    </div>
    <div class="groupselect">
        <button class="groupNextPattern btn btn-success">Next Pattern</button>
    </div>
    <!--
    <div class="progress">
        <div class="spaceAvailableIndicator progress-bar"></div>
    </div>
    -->
    <div class="nextToBrightnessBar">
        <div class="storedPatterns">
            <span class="heading">Stored Patterns</span>
            <div class="patterns"></div>
        </div>

        <button class="loadPattern btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Load New Pattern</button>
    </div>
</div>

