<div class="loadPatternDialogContainer">
    <div class="content">
        <div class="header">
            <button type="button" class="mobileHide hideButton" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="title">
                Load Pattern
            </h4>
        </div>
        <div class="body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 patternChoices">
                    </div>
                    <div class="col-sm-8">
                        <div class="patternConfiguration"></div>
                        <div class="patternPreview"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button type="button" class="hideButton btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary loadPatternButton">Load Pattern</button>
        </div>
    </div>
</div>
