<div class="loadPatternDialogContainer">
    <div class="mcontent">
        <div class="navigationBar">
            <div class="navigationButtons">
                <button class="showMenuButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-list"></span></button>
                <button class="backButton hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
            </div>
            <div class="navigationRemaining">
                <h4 class="titletext flexone">Load Pattern</h4>
            </div>
            <button type="button" class="mobileHide hideButton btn btn-default navbar-btn" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
            
        </div>
        <div class="mbody">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 patternChoices">
                    </div>
                    <div class="col-sm-8">
                        <div class="patternConfiguration"></div>
                        <div class="patternPreview"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mfooter">
            <button type="button" class="hideButton btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary loadPatternButton">Load Pattern</button>
        </div>
    </div>
</div>
