<div class="patternSelectionPanel">
    <div class="navigationBar">
        <div class="navigationButtons">
            <button class="hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
        </div>
        <div class="navigationRemaining">
            <h4 class="titletext flexone">Choose Pattern</h4>
        </div>
    </div>
    <div class="patternChoices">
    </div>
</div>

<div class="patternConfigPanel">
    <div class="navigationBar">
        <div class="navigationButtons">
            <button class="backButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
        </div>
        <div class="navigationRemaining">
            <h4 class="titletext flexone">Configure Pattern</h4>
        </div>
    </div>
    <div class="patternConfiguration"></div>
    <div class="patternPreview"></div>
    <button type="button" class="btn btn-primary loadPatternButton">Load Pattern</button>
</div>
