<div class="patternSelectionPanel mobilePanel">
    <div class="navigationBar">
        <div class="navigationButtons">
            <button class="hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
        </div>
        <div class="navigationRemaining">
            <h4 class="titletext flexone">Choose Lightwork</h4>
        </div>
    </div>
    <div class="body bodyWithPreview">
        <div class="nextToPreview">
            <div class="tabs flexFixed"></div>

            <button type="button" class="btn btn-success createPattern flexFixed">New Lightwork</button>
            <div class="patternlist flexExpand"></div>
            
            <div class="buttons flexFixed">
                <button type="button" class="btn btn-success previewPatternButton">Preview</button>
                <button type="button" class="btn btn-primary loadPatternButton">Load</button>
            </div>
        </div>

        <div class="preview">
        </div>
    </div>
</div>

<div class="patternConfigPanel">
    <div class="navigationBar">
        <div class="navigationButtons">
            <button class="backButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
        </div>
        <div class="navigationRemaining">
            <h4 class="titletext flexone">Configure Lightwork</h4>
        </div>
    </div>
    <div class="patternPreview"></div>
    <div class="patternConfiguration"></div>
    <button type="button" class="btn btn-primary loadPatternButton">Load Lightwork</button>
</div>
