<div class="loginDialog modal">
    <div class="mdialog">
        <div class="mcontent">
            <div class="navigationBar">
                <div class="navigationButtons">
                    <button class="backButton hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
                </div>
                <div class="navigationRemaining">
                    <h4 class="titletext flexone">Login</h4>
                </div>
                <button type="button" class="mobileHide hideButton btn btn-default navbar-btn" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="mbody">
                <div class="login">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <span class="error"></span>
                    </div>
                </div>
                <div class="create">
                    <span class="redtext">Your password is transmitted and stored on your computer in plain text, please use a throwaway.. like "cheese"</span>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="display">Display Name</label>
                        <input type="text" class="form-control" id="display" placeholder="Display Name">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Retype Password">
                    </div>
                    <div class="form-group">
                        <span class="error"></span>
                    </div>
                </div>
            </div>
            <div class="login mfooter">
				<a href="#" class="createAccountLink floatLeft" style='margin-top: 9px'>Create Account</a>
				<button type="button" class="loginButton btn btn-primary">Login</button>
            </div>
            <div class="create mfooter">
				<button type="button" class="createButton btn btn-primary">Create Account</button>
            </div>
        </div>
    </div>
</div>
