<div class="mainContainer">
    <div class="stripListing">
        <div class="navigationBar">
            <div class="navigationRemaining">
                <span class="titletext flexone">LED Strips</span>
            </div>
            <!-- <button class="configureNewStrip btn btn-default navbar-btn"><span class="glyphicon glyphion-plus"></span></button> -->
        </div>
        <div id="strip-list" class="body">
        </div>
    </div>

    <div class="groupDetails">
    </div>
</div>
