<!-- <div class="topbar"></div> -->
<div class="mainContainer">
    <div class="stripListing">
        <div class="navigationBar">
            <div class="navigationRemaining">
                <span class="titletext flexone">Flickerstrip</span>
            </div>
            <!-- <button class="configureNewStrip btn btn-default navbar-btn"><span class="glyphicon glyphion-plus"></span></button> -->
            <!-- <button class="changeMode btn btn-default navbar-btn">@</span></button> -->
            <button class="createDummyStrip btn btn-default navbar-btn">Fake Strip</span></button>
        </div>
        <div id="strip-list" class="body">
        </div>
        <a href='#' class="reportIssue" style='text-align: center'>Report a bug</a>
    </div>

    <div class="groupDetails">
    </div>
</div>
