<div class="mainContainer">
    <div class="navigationBar">
        <div class="navigationButtons">
            <button class="showMenuButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-list"></span></button>
            <button class="backButton hideButton btn btn-default navbar-btn"><span class="glyphicon glyphicon-triangle-left"></span></button>
        </div>
        <div class="navigationRemaining">
            <span class="titletext"></span>
        </div>
    </div>
    <div class="stripListing">
        <div class="well">
            <div id="strip-list">
            </div>
        </div>
    </div>

    <div class="fillwell flexcol groupDetails flex">
    </div>
</div>
