<div class="modal-dialog">
    <div class="modal-content">
        <div class="navigationBar">
            <div class="navigationRemaining">
                <span class="statusIndicator"></span>
                <span class="name" /> &nbsp;
            </div>
        </div>
        <div class="modal-body">
            <div class="stripInfo">
                <div class="infoList"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="closeDetails btn btn-default">Close</button>
        </div>
    </div>
</div>
