<div class="modal-dialog">
    <div class="modal-content">
        <div class="navigationBar">
            <div class="navigationRemaining">
                <span class="statusIndicator"></span>
                <span class="name" /> &nbsp;
            </div>
            <button type="button" class="mobileHide closeDetails btn btn-default navbar-btn" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body">
            <div class="stripInfo">
                <div class="infoList"></div>
            </div>
        </div>
    </div>
</div>
