@import "style.less";

//////////////LAYOUT////////////////
body {
    height: 100vh;
}

.backButton,
.showMenuButton {
    display: none;
}

body {
    background-image: linear-gradient(to bottom,#e8e8e8,#f5f5f5 100%);
}

.mobileOnly {
    display: none !important;
}

.mainContainer {
height: 100%;
    .flex-display;
    .stripListing {
        .panel;
        border: none;
        margin: 5px;
        width: 300px !important;
    }
    .groupDetails {
        .panel;
        border: none;
        margin: 5px;
        .flex(1);
    }
}

.mainContainer {
    .body {
        margin: 5px;
        padding: 5px;
    }
}

.navigationButtons {
    display: none;
}

////////////////////////// Load Pattern Dialog ////////////////////////////////
.flexExpandContent {
    .flex-display;
    > * {
        .flex(1 1 auto);
    }
}

.loadPatternDialog {
    .modal;
}

.loadPatternDialogContainer {
    .modal;
    .flexExpandContent;

    .mdialog {
        z-index: 1060;
        .modal-dialog;
        .flexExpandContent;
    }

    .mcontent {
        .modal-content;
        .flex-display;
        .flex-direction(column);
        .flex-wrap(no-wrap);
        .align-items(stretch);

        .navigationBar {
            .flex(0 0 auto);
        }

        .mbody {
            .flex(1 1 auto);
            .flex-display;
            .flex-direction(row);
            .flex-wrap(no-wrap);
            .align-items(stretch);
            padding: 0;

            .left {
                width: 250px;
                padding: 10px;
                .flexExpandContent;

                .list-group {
                    overflow-y: scroll;
                }
            }

            .right {
                .flex(1 1 auto);
                padding: 10px;

                .flex-display;
                .flex-direction(column);

                * {
                    .flex(0 0 auto);

                    &:last-child {
                        .flex(1 1 auto);
                    }
                }
            }
        }

        .mfooter {
            .flex(0 0 auto);
        }
    }

    .mbody {
        .modal-body;
    }

    .navigationRemaining {
        .modal-title;
    }

    .mfooter {
        .modal-footer;
    }
}
////////////////////////// Load Pattern Dialog ////////////////////////////////

.progressDialog {
    .modal;
    align-items: center;
    display: flex;

    .mdialog {
        z-index: 1050;
        .modal-dialog;
        flex: 1;
    }

    .mcontent {
        .modal-content;
    }

    .mbody {
        .modal-body;
    }

    .mtitle {
        .modal-title;
    }

    .mheader {
        .modal-header;
    }
}

.loadPattern,
.storedPatterns {
    margin-right: 45px;
}


.forgetPattern,
.selectPattern {
    .btn-xs;
}
