@import "style.less";

//////////////LAYOUT////////////////
body {
    height: 100vh;
    display: flex;
}

.backButton,
.showMenuButton {
    display: none;
}

body {
    background-image: linear-gradient(to bottom,#e8e8e8,#f5f5f5 100%);
}

.mainContainer {
    display: flex;
    .stripListing {
        .panel;
        border: none;
        margin: 5px;
        width: 300px !important;
    }
    .groupDetails {
        .panel;
        border: none;
        margin: 5px;
        flex: 1;
    }
}

.mainContainer {
    .body {
        margin: 5px;
        padding: 5px;
    }
}

.navigationButtons {
    display: none;
}

////////////////////////// Load Pattern Dialog ////////////////////////////////
.loadPatternDialog {
    .modal;
}

.loadPatternDialogContainer {
    z-index: 1050;
    .modal-dialog;

    .mcontent {
        .modal-content;
    }

    .mbody {
        .modal-body;
    }

    .navigationRemaining {
        .modal-title;
    }

    .mfooter {
        .modal-footer;
    }
}
////////////////////////// Load Pattern Dialog ////////////////////////////////

.progressDialog {
    .modal;
    align-items: center;
    display: flex;

    .mdialog {
        z-index: 1050;
        .modal-dialog;
        flex: 1;
    }

    .mcontent {
        .modal-content;
    }

    .mbody {
        .modal-body;
    }

    .mtitle {
        .modal-title;
    }

    .mheader {
        .modal-header;
    }
}
