@import "style.less";

@navbarheight: 52px;

html, body, .scrollable {
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
}

.mobileHide {
    display: none;
}

.scrollable {
    overflow-y: scroll;
}

.stripListing, .groupDetails, .patternSelectionPanel, .patternConfigPanel {
    position: absolute;
    -webkit-transition: left .5s;
    transition: left .5s;
    width: 100%;

    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.navigationBar {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.body {
    padding: 5px;
}

////////////// STRIP LISTING//////////////
.stripListing {
    left: 0;
}

.groupDetailsShowing .stripListing,
.loadPatternShowing .stripListing,
.configurePatternShowing .stripListing {
    left: -100%;
}
////////////// STRIP LISTING//////////////

////////////// GROUP DETAILS//////////////
.groupDetails {
    left: 100%;
}

.groupDetailsShowing .groupDetails {
    left: 0%;
}

.loadPatternShowing .groupDetails,
.configurePatternShowing .groupDetails {
    left: -100%;
}
////////////// GROUP DETAILS//////////////

////////////// LOAD PATTERN //////////////
.patternSelectionPanel,
.groupDetailsShowing .patternSelectionPanel {
    left: 100%;
}

.loadPatternShowing .patternSelectionPanel {
    left: 0px;
}

.configurePatternShowing .patternSelectionPanel {
    left: -100%;
}
////////////// LOAD PATTERN //////////////

////////////// CONFIGURE PATTERN //////////////
.patternConfigPanel,
.groupDetailsShowing .patternConfigPanel,
.loadPatternShowing .patternConfigPanel {
    left: 100%;
}

.configurePatternShowing .patternConfigPanel {
    left: 0px;
}
////////////// LOAD PATTERN //////////////

.showMenuButton {
    display: none;
    position: absolute;
    top: 0px;
    left: 5px;
}

.groupDetailsShowing .showMenuButton {
    display: block;
}

.backButton {
    display: none;
    position: absolute;
    top: 0px;
    left: 5px;
}

.loadPatternShowing .backButton {
    display: block;
}

////////////////////////////
.navigationBar {
    height: @navbarheight;
}
////////////////////////////
