@import "bootstrap/bootstrap.less";
@import "flexbox.less";

//////////////////////////////////
.flexone {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

//////////////////////////// Layout /////////////////////////////////
.mainContainer {
    width: 100%;
}

.navigationBar {
    z-index: 1000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.navigationBar {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    * {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

.navigationButtons {
    width: 50px;
    z-index: 1001;
}

.centeredInline {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.centeredInline * {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.navigationRemaining {
    .centeredInline;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.listElement {
    padding: 0 10px;
    height: 40px;
    .centeredInline;
    overflow: hidden;

    .name {
        .flexone;
    }
}

.list-group-item.groupHeader {
    margin-top: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.listElement .version {
    padding-right: 5px;
    color: #999;
}

.listElement .aside {
    padding-right: 5px;
    color: #999;
}

.version {
    &.uptodate {
        opacity: 0;
    }

    &.outofdate {
        color: #f00;
    }

    &.devversion {
        color: #00f;
    }
}


input.seamless {
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

//////////////////////////// General Layout /////////////////////////

//////////////////////////// Widgets /////////////////////////
.statusIndicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display:inline-block;
    margin-right: 2px;
}
.statusIndicator.connected {
    background-color: green;
}
.statusIndicator.unknown {
    background-color: grey;
}
.statusIndicator.error {
    background-color: red;
}

//////////////////

.groupHeader.selected,.groupHeader.selected:hover {
    background-color: #9cf;
}
.groupHeader:hover {
    background-color: #ccc;
}

.listElement.selected,.listElement.selected:hover {
    background-color: #9cf;
}
.listElement:hover {
    background-color: #ccc;
}
//////////////////////////// Widgets /////////////////////////

//////////////////////////// Group Details /////////////////////////////
.forgetPattern {
    display: none;
    float:right;
}

.selected .forgetPattern {
    display: block;
}
//////////////////////////// Group Details /////////////////////////////

//////////////////////////// Tweaks /////////////////////////////////
.selectPattern {
    margin-right: 5px;
}
//////////////////////////// Tweaks /////////////////////////////////


///////////////////////////// Color //////////////////////////////////
.navigationBar {
    font-weight: bold;
    padding: 0 7px;
    height: 50px;
}
.heading {
    font-size: 14px;
    font-weight: bold;
    color: #36f;
}
///////////////////////////// Color //////////////////////////////////


///////////////////////////// Misc //////////////////////////////////
.minor {
    font-size: 10px;
    color: #999;
}

.patternConfiguration.nocontrols {
    .flex-display;
    .justify-content(center);
    .align-items(center);
    color: #999;
    font-size: 18px;
    font-weight: bold;
    background-color: #eee;
}

.groupDetailsPanel .progress {
    margin-left: 5px;
    margin-right: 5px;
}

.progress-bar {
    text-align:left;
    padding-left: 5px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.powerButton {
    color: black;
    &.on {
        color: green;
    }
}

.patternConfiguration {
    .panel-body;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


/////////////////////////////////////////////////////
.groupDetails {
    .flex-display;
    .flex-direction(column);
    .align-items(stretch);

    .navigationBar {
        .flex(0 0 auto);
    }

    .groupDetailsPanel {
        .flex(1 1 auto);
        .flex-display;
        .flex-direction(column);
        .align-items(stretch);

        >* {
            .flex(0 0 auto);
            &.storedPatterns {
                .flex(1 1 auto);
            }
        }
    }
}

.groupDetailsPanel {
    position: relative;
}

.brightnessControl {
    position: absolute;
    right: 5px;
    top: 50px;
    bottom: 5px;
    width: 20px;

    .indicator {
        height: 0;
        position: absolute;
        left: -10px;

        span {
            top: -7px;
        }
    }

    .brightness {
        position:absolute;
        top: -20px;
        right: -3px;
        color: #888
    }
}


.brightnessBar {
    position:absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;

    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

//////////////////////////////////////////////////

.infoList {
    padding: 5px;
}

.info {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    .flex-display;
    .align-items(center);
    .justify-content(center);

    height: 50px;
    margin: 2px 0;
    padding: 5px;

    .infoLabel {
        display: block;
        font-weight: bold;
        .flex(1 1 auto);
    }

    .infoValue {
        display: block;
        .flex(1 1 auto);
        text-align: right;
    }
}

.theme1 { //theme applied to body tag
    background-image: linear-gradient(to bottom,#e8e8e8,#f5f5f5 100%);

    .mainContainer .body {
        background: white;
    }

    .navigationBar {
        border-radius: 5px;
        border: 1px solid #3333CC;
        background: transparent;
        color: #33C;
        background-color: white;
    }

    .mainContainer .body {
        margin: 0;
        padding: 10px;
        background: white;

        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
}

/*

.navigationBar {
    background-color: #211F4C;
    color: white;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    background: rgba(33,31,76,1);
    background: -moz-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,31,76,1)), color-stop(78%, rgba(66,65,135,1)), color-stop(90%, rgba(91,91,156,1)), color-stop(100%, rgba(104,104,163,1)));
    background: -webkit-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: -o-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: linear-gradient(to bottom, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211f4c', endColorstr='#6868a3', GradientType=0 );

    //color: #6868a3;
}
*/

//Themes
//Border Style
/*
.mainContainer .stripListing {
    background: transparent !important;
}

*/
