@import "bootstrap/bootstrap.less";

//////////////////////////////////
.flexone {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

//////////////////////////// Layout /////////////////////////////////
.mainContainer {
    width: 100%;
}

.navigationBar {
    z-index: 1000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.navigationBar {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    * {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

.navigationButtons {
    width: 50px;
    z-index: 1001;
}

.centeredInline {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.centeredInline * {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.navigationRemaining {
    .centeredInline;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.listElement {
    padding: 0 10px;
    height: 50px;
    .centeredInline;
    overflow: hidden;

    .name {
        .flexone;
    }
}


input.seamless {
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

//////////////////////////// General Layout /////////////////////////

//////////////////////////// Widgets /////////////////////////
.statusIndicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display:inline-block;
    margin-right: 2px;
}
.statusIndicator.connected {
    background-color: green;
}
.statusIndicator.unknown {
    background-color: grey;
}
.statusIndicator.error {
    background-color: red;
}

//////////////////

.listElement.selected,.listElement.selected:hover {
    background-color: #9cf;
}
.listElement:hover {
    background-color: #ccc;
}
//////////////////////////// Widgets /////////////////////////

//////////////////////////// Group Details /////////////////////////////
.forgetPattern {
    display: none;
    float:right;
}

.selected .forgetPattern {
    display: block;
}
//////////////////////////// Group Details /////////////////////////////

//////////////////////////// Tweaks /////////////////////////////////
.selectPattern {
    margin-right: 5px;
}
//////////////////////////// Tweaks /////////////////////////////////


///////////////////////////// Color //////////////////////////////////
.navigationBar {
    background-color: #211F4C;
    padding: 0 7px;
    color: white;
    font-weight: bold;
    height: 50px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    background: rgba(33,31,76,1);
    background: -moz-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,31,76,1)), color-stop(78%, rgba(66,65,135,1)), color-stop(90%, rgba(91,91,156,1)), color-stop(100%, rgba(104,104,163,1)));
    background: -webkit-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: -o-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    background: linear-gradient(to bottom, rgba(33,31,76,1) 0%, rgba(66,65,135,1) 78%, rgba(91,91,156,1) 90%, rgba(104,104,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211f4c', endColorstr='#6868a3', GradientType=0 );

    //color: #6868a3;
}

.heading {
    font-size: 14px;
    font-weight: bold;
    color: #36f;
}
///////////////////////////// Color //////////////////////////////////


///////////////////////////// Misc //////////////////////////////////
.minor {
    font-size: 10px;
    color: #999;
}

.patternPreview {
    width: 100%;
    height: 200px;
}

.progress-bar {
    text-align:left;
    padding-left: 5px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
