<div class="flex fillwidth">
    <div class="left flex container">
        <div class="fillwell panel panel-default flexcol">
            <div id="strip-list" class="panel-body">
            </div>
        </div>
    </div>

    <div class="fillwell flexcol groupDetails flex">
    </div>
</div>

<!--
<span class="heading">Strips</span>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <span class="heading">Strips</span>
      <div id="strip-list" class="well"></div>
    </div>

    <div class="col-sm-8 groupDetails">
    </div>
  </div>
</div>

-->
